                                                /* FUENTES*/

                        @font-face {
                            font-family: 'Exo_2';
                            src: url(../data/font/Exo_2/Exo2-Bold.ttf);
                            font-weight: bold;
                            font-style: bold;
                        }
                        @font-face {
                            font-family: 'Exo_2';
                            src: url(../data/font/Exo_2/Exo2-SemiBold.ttf);
                            font-weight: 700;
                            font-style:normal;
                        }
                        @font-face {
                            font-family: 'Exo_2';
                            src: url(../data/font/Exo_2/Exo2-Regular.ttf);
                            font-weight: normal;
                            font-style:normal;
                        }
                        @font-face{
                            font-family: 'Exo_2';
                            src: url(../data/font/Exo_2/Exo2-Italic.ttf);
                            font-weight:400;
                            font-style: italic; 
                        }
                    /*----------------------------------------------------------------*/


                                                /*ANIMACIONES*/

                    @keyframes show {
                        from{
                            opacity: 0;
                            scale: 15%;
                        }
                    
                        to{
                            opacity: 1;
                            scale: 100%;
                        } 
                    }

                    @keyframes showSubmenu{
                        from{
                            display: block;
                            opacity: 0;
                            scale: 15%;
                        }
                        
                        to{
                            display: block;
                            opacity: 1;
                            scale: 100%;
                        }
                    }    

                     /*----------------------------------------------------------------*/

                    



html{
    scroll-behavior: smooth;
}

body{
    background-color: #101720;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 60px;

}


header{
    grid-area: 1/1/1/10;
    display: flex;
    width: 100%;
    height: 350px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}
header h1{
    margin: 0;
    font-family: 'Exo_2';
    font-size: 20px;
    color: white;
    text-align: center;

}

header img{
    width:300px;
    height: 100%;
}


nav{
    grid-area: 2/1/2/10;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(5, 144, 72,0.5);
    padding: 2em;
    position: sticky;
    top:0;

}

.scrolled{
    background-color:  #059048;
    z-index:10;

}



nav  li{
    list-style: none;
    margin: 0 10px;
}

nav  li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: 'Exo_2';
    font-weight: normal;
    font-style: normal;
}

nav  li a:hover{
    color:#09de6f ;
    transition: all 0.5s ease;
}

.dropdown{
    cursor: pointer;
    position: relative;
}

.dropdown::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%); 
    display: none;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #09de6f;
    border-bottom: 5px solid transparent;
}

.dropdown:hover::after{
    display: inline-block;
}


.dropdown-content{
    position: fixed;
    background-color: rgb(5, 144, 72);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
}

.dropdown-content-hidden{
    display: none;

}

.dropdown-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover{
    background-color: rgb(255, 255, 255,0.1);
}
.dropdown-content-show{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.submenu-flex{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
}
.submenu-link:hover .submenu-txt{
    display: block;
}

.submenu-txt{
    display: none;
    

}

main{
    grid-area: 3/1/3/10;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;

}



main p{
    font-family: 'Exo_2';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: white;
    margin: 10px 0;
}
main h1{
    font-family: 'Exo_2';
    font-weight: bold;
    font-style: bold;
    font-size: 30px;
    color: white;
    margin: 10px 0;
}

main h2{
    font-family: 'Exo_2';
    font-weight: 400;
    font-style: italic;
    font-size: 25px;
    color: white;
    margin: 10px 0;
}

.row{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 10px;

    view-timeline-name: --row;
    view-timeline-axis: block;

    animation-timeline: --row;
    animation-name: show;

    animation-range: entry 50% cover 75%;
    animation-fill-mode: both;   
}

.row .col1{
    max-width: 30%;
}

.row .col2{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.row .col1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row2{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    column-gap: 10px;

    view-timeline-name: --row;
    view-timeline-axis: block;

    animation-timeline: --row;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
    

}

.row2 .col2{
    max-width: 30%;
}

.row2 .col1{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.row2 .col2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



footer {
    grid-area: 4/1/4/10;
    position: relative;
    left: 0;
    bottom: 0;
    top: 0;
    bottom: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
}


.background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.fondoFooter {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleY(3) scaleX(5);
    overflow: hidden;
    transform-origin: bottom;
    box-sizing: border-box;
    display: block;
    pointer-events: none;
}


footer p{
    font-family: 'Exo_2';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: white;
    margin: 10px 0;
    text-align: center;
}

footer a{
    text-decoration: none;
    margin: 20px;
}



                                   /* ESTILOS PARA WWP.html*/


.main-wpp{
    height: 600px;
}

form{
    width: 100%;
    height: 100%;
}
 table.greenTable {
  font-family: 'Exo_2';
  width: 100%;
  height: 100%;
  text-align: center;
}
table.greenTable td, table.greenTable th {
  border: 2px solid #09DE6F;
  padding: 3px 2px;
}
table.greenTable tbody td {
  font-size: 15px;
}
table.greenTable thead {
  background: #09DE6F;
  border-bottom: 5px solid #444444;
}
table.greenTable thead th {
  font-size: 30px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: center;
  border-left: 2px solid #24943A;
  padding: 20px;
}
table.greenTable thead th:first-child {
  border-left: none;
}

table.greenTable tfoot td {
  font-size: 13px;
}
table.greenTable tfoot .links {
  text-align: right;
}
table.greenTable tfoot .links a{
  display: inline-block;
  background: #101720;
  color: #EEFFF5;
  padding: 2px 8px;
  border-radius: 5px;
}

td input{
    height: 100%;
    background-color:#101720;
    color: white;
    font-family: 'Exo_2';
}

td *{
    font-family: 'Exo_2';
}